<!DOCTYPE html>
<html lang="en">
    <head>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <style>
            body {
                padding: 20px;
            }
            form {
                padding-top: 20px;
            }
            h2{
                padding: 20px;
            }
        </style>
    </head>

<body>

<p>Login Failed</p>

<form method="get" action="/">
    <button class="btn btn-link">Try Again</button>
</form>

</body>
</html>